<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org">
	
	<div th:fragment="js">
		
		
		
	    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
	    <script th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>
	    <script th:src="@{/vendor/raphael/raphael.min.js}"></script>
	    <script th:src="@{/vendor/morrisjs/morris.min.js}"></script>
	    <script th:src="@{/data/morris-data.js}"></script>
	    <script th:src="@{/dist/js/sb-admin-2.js}"></script>
	    
	    <!-- Flot Charts JavaScript -->
		<script th:src="@{/vendor/flot/excanvas.min.js}"></script>
		<script th:src="@{/vendor/flot/jquery.flot.js}"></script>
		<script th:src="@{/vendor/flot/jquery.flot.pie.js}"></script>
		<script th:src="@{/vendor/flot/jquery.flot.resize.js}"></script>
		<script th:src="@{/vendor/flot/jquery.flot.time.js}"></script>
		<script th:src="@{/vendor/flot-tooltip/jquery.flot.tooltip.min.js}"></script>
		<script th:src="@{/data/flot-data.js}"></script>   
		
		

	</div>
	
</html>
