<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
   <div th:include="layout/style :: style"></div>

  <body>
  		<div id="wrapper">
	   		 <div th:include="layout/header :: header"></div>
		     	 <div th:include="layout/menu :: menu" class="menu"></div>
		     	 <!-- CONTEUDO DAS PAGINAS AQUI ! -->
		     	   <section layout:fragment="conteudo">
				    <p>Page content goes here</p>
				  </section>
	     </div>
    <div th:include="layout/js :: js"></div>
  </body>
</html>
