target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
nbdist/
.nb-gradle/

## Eclipse ###
*.classpath
*.class
*.mvn
*.settings
*.target
*.project
*.sprringBeans
/bin/

## MAC ##
*.DS_Store

src/main/resources/\.DS_Store
